@model IEnumerable<PlaylistViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (Model.Count() == 0)
{
    <p>There are no playlists</p>
}
else
{
    @foreach (var item in Model)
    {
        <p>@item.Title | Duration of: @item.Duration</p>

        @foreach (var song in item.PlaylistsSongs)
        {
            <div style="display: flex; flex-direction:row">
                <p>@song.Song.Title : </p>
                <a href=@song.Song.Preview>Click to play</a>
            </div>
        }
    }
}
