@model IEnumerable<PlaylistViewModel>
@{
    ViewData["Title"] = "Home Page";
}




<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (Model.Count() == 0)
{
    <p>There are no playlists</p>
}
else
{
    @foreach (var item in Model)
    {
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">@item.Title</th>
                    <th scope="col">@item.DurationInHours</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var song in item.Songs)
                {
                    <tr>
                        <td>@song.Title</td>
                        <td>@song.DurationInMinutes</td>
                        <td><a href=@song.Preview>Click to play</a></td>
                    </tr>
                }

            </tbody>
        </table>


    }
}
