@model IEnumerable<PlaylistViewModel>
@{
    ViewData["Title"] = "Home Page";
}

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="3000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="images/music1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="images/717234.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="images/music2.jpg" alt="Third slide">
            </div>
        </div>
    </div>

@if (Model.Count() == 0)
{
    <p>There are no playlists</p>
}
else
{
    @foreach (var item in Model)
    {
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">@item.Title</th>
                    <th scope="col">@item.DurationInHours</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var song in item.Songs)
                {
                    <tr>
                        <td>@song.Title</td>
                        <td>@song.DurationInMinutes</td>
                        <td><a href=@song.Preview>Click to play</a></td>
                    </tr>
                }

            </tbody>
        </table>


    }
}
