@model IList<PlaylistViewModel>


<div id="body">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a asp-controller="Playlists" asp-action="Playlist" asp-route-id="@item.Id">
                    <img src="~/images/the-nerd.jpg" alt="">
                    <span>@item.Title</span>
                </a>
            </li>

        }

    </ul>
</div>



