@model IList<PlaylistViewModel>


<div id="body">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a asp-controller="Playlists" asp-action="Playlist" asp-route-id="@item.Id">
                    <img src="@item.PixabayImage" style="width: 295px; height: 238px; filter: grayscale(100%);" alt="">
                    <span>@item.Title</span>
                </a>
            </li>
        }
    </ul>
</div>