@model IList<PlaylistViewModel>


<div id="body">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a asp-controller="Playlists" asp-action="Playlist" asp-route-id="@item.Id">
                    <img src="~/images/the-nerd.jpg" alt="">
                    <span>@item.Title</span>
                </a>
                @if (User.IsInRole("admin"))
                {
                    <form class="form" method="post" asp-controller="Playlists" asp-action="DeletePlaylist" style="margin-bottom:30px">
                        <input type="hidden" name="id" value="@item.Id" />
                        <div class="form__buttons buttons">
                            <button type="submit">Delete</button>
                        </div>
                    </form>
                }

            </li>
        }
    </ul>
</div>