@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines

@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PG.Web</title>
    <link rel="stylesheet" href="~/Identity/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/StyleSheet.css" runat="server" type="text/css" />

    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/playlistView.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdns-files.dzcdn.net/js/min/dz-v00401311.js" defer="true"></script>


    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/mobile.css" media="screen and (max-width : 568px)">
    <script type="text/javascript" src="~/js/mobile.js"></script>
    <link href="~/css/playlistStyle.css" rel="stylesheet" />
    <script src="~/js/palylist-generation.js"></script>
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_dYpY42KiNze3rGUtk0yJ_btAzmGLYqk&libraries=places&callback=initMap">
    </script>

</head>
<body>
    <header>
        <partial name="_NavBarPartial" />
    </header>

    <div >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Identity/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
