@model IList<PlaylistViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();


    @if (Model.Count() == 0)
    {
        <p>There are no playlists</p>
    }

    else
    {


        <div class="wrapper">

            @foreach (var item in Model)
            {
                <a class="list-group" asp-controller="Playlists" asp-action="Playlist" asp-route-id="@item.Id">@item.Title <br/> @item.DurationInHours</a>
            }

        </div>
    }
    <!--
        grid-template-columns: 1fr 1fr 1fr;

        grid-template-columns: repeat(3, 1fr);
    -->

    <style>
        .wrapper {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            justify-items: center;
        }

        .list-group {
            border: 1px solid black;
            width: 150px;
            height: 150px;
            background: url("https://cdn.pixabay.com/photo/2017/03/25/17/55/color-2174045_960_720.png");
            font-size: medium;
            text-align: center;
            color: black;
            text-decoration: none;
            margin-bottom: 3vh;
        }

        .list-group:hover {
            font-weight: 800;
            color: black;
            text-decoration: none;
        }
    </style>


}
