@model PlaylistViewModel

<div class="list-group">


    @foreach (var song in Model.Songs)
    {
        <a href="@song.Preview" class="list-group-item list-group-item-action"> @song.Title | @song.DurationInMinutes</a>
    }
</div>